extends base

block content

  div(class='flex row' style={overflow: 'hidden', height : '100%', 'background-color' : '#eeeee4'})
    div(class="flex column" id="bill-hero-container")
      h5(class="navcrumbs") Home / Business and Consumers / #{ billData.num }
      div(style={'margin' : 'auto 0 auto'})
        h1(class='huge' id="bill-num") #{ billData.num }
        i Authored by #{ billData.author } 
          if billData.affiliation
            | (billData.affiliation)
    div(class="flex column" id="bill-info-container")
      div(id="bill-overview") 
        h3 Overview 
        div
        p #{ billData.title }.
        h3 Status
        if billData.status
          #{billData.status}
        else
          | No status data about this bill is available.
        p #{ billData.status }
        h3 Details
        p 
         a(href=billData.link) View details about this bill.
      div(id="bill-more")
        h3 More
        p 
        button(onclick='prepTweet()' class="button" id='prepTweetButton') Tweet about #{billData.num}
        input( id='nonce' type='hidden' value=nonce)

    div(class="flex" style={ flex: '1 1 33.3333%', 'background-color' : '#f79f79', })
      if billData.documentAvailable
        embed(src=billData.pdf_link, type='application/pdf' style={ width: '100%', height: '100%'}, frameborder='0')
      else
        b(class="centered") This bill's full PDF isn't available.
        
    script. 
        let defaultTweet = 'Take a look at bill #{billData.num} by #{billData.author}. It can be found here: http://localhost:3000/bill/#{billData.num} ';
    script(src='/js/functions.js' type='text/javascript')


